@import url("https://fonts.googleapis.com/css?family=Roboto");

.line-across {
  border: 2px solid #c8d6e5;
  margin: 0.5rem;
  border-radius: 1px;
}
.line-across-2 {
  border: 2px solid #c8d6e5;
  margin: 1rem;
  border-radius: 1px;
}
.input-form {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}
.parent-div {
  position: relative;
}

#popupdiv {
  position: absolute;
  bottom: 4.5rem;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  width: 50rem;
  height: 1%;
  font-size: 0.9rem;
  color: #e84118;
}
.daily-task-list {
  display: flex;
  flex-direction: column;
}
.daily-task-item {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  margin-bottom: 0.4rem;
}
.daily-task-name {
  padding-left: 1rem;
  padding-top: 1rem;
}
